/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-regular), sans-serif;
  color: var(--color-accent);
  background-color: var(--color-background);
  background: 
  repeating-linear-gradient(
    to bottom,
    var(--color-repeating-linear-gradient) 0,
    var(--color-repeating-linear-gradient) 2px,
    var(--color-repeating-linear-gradient-transparent) 2px,
    var(--color-repeating-linear-gradient-transparent) 4px
  ),
  repeating-linear-gradient(
    to right,
    var(--color-repeating-linear-gradient) 0,
    var(--color-repeating-linear-gradient) 2px,
    var(--color-repeating-linear-gradient-transparent) 2px,
    var(--color-repeating-linear-gradient-transparent) 4px
  ),
  linear-gradient(
    to bottom,
    var(--color-linear-gradient-from), 
    var(--color-linear-gradient-to)
  );
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--font-weight-text-light), 400;
  }
} 

.card {
  width: calc(clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem));
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
}

/* --------------- Хэдер --------------- */

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block-start: calc(clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem));
  padding-block-end: 25px;
  font-family: var(--font-accent), sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-block-start: 100px;
  margin-block-end: 102px;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 1rem; /*сравняла для PP */
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  font-size: 14px;
  text-transform: inherit;
  padding: 0;
  position: relative;
}

/* --------------- Состояния кнопки в меню хэдера --------------- */

.theme-menu__button:hover {
  color: var(--color-accent-button);
  cursor: pointer;
  transition: 0.3s;
}

.theme-menu__button:disabled {
  color: var(--color-accent-button);
  pointer-events: none;
  transition: 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--color-accent-button);
}

.theme-menu__button:focus-visible::after {
  content: "";
  display: block;
	position: absolute;
  inline-size: 100%;
	border-block-end: 2px solid var(--color-accent-button);
  animation: theme-menu__button-focus-visible 0.3s;
  transform-origin: 0;
}

@keyframes theme-menu__button-focus-visible {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    inset-inline-start: -20px;
    animation: move 0.5s ease-in-out alternate infinite;
  }

  @keyframes move {
    0% {
      inset-inline-start: -20px;
    }
    100% {
      inset-inline-start: -16px;
    }
  }
}

/* --------------- Основной контент --------------- */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
  font-size: 18px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__title {
  padding: 0 10px;
  font-size: 18px;
  font-weight: var(--font-weight-title);
}

.card__text {
  padding: 3px 25px 0 27px;
  font-weight: var(--font-weight-text);
  line-height: 116%;
}

.card__images {
  position: relative;
}

.card__image {
  display: block;
  border-block-start: 2px solid var(--color-accent);
  border-block-end: 2px solid var(--color-accent);
  inline-size: 100%; 
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__images-text {
  position: absolute;
  z-index: 1;
  inset-inline-end: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem);
  inset-block-start: 28px;
  font-size: 14px;
  font-family: var(--font-accent), sans-serif;
  text-transform: uppercase;
  color: var(--color-card__images-text);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color-card__images-text-text-shadow), 
    0 1px var(--color-card__images-text-text-shadow), 
    1px 0 var(--color-card__images-text-text-shadow), 
    0 -1px var(--color-card__images-text-text-shadow);
}

@supports((text-stroke: 1px var(--color-card__images-text-text-shadow)) 
or (-webkit-text-stroke: 1px var(--color-card__images-text-text-shadow))) {
  .card__images-text {
      -webkit-text-stroke: 1px var(--color-card__images-text-text-shadow);
      text-stroke: 1px var(--color-card__images-text-text-shadow);
      text-shadow: none;
  }
} 

.card__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 3px 25px 17px 0;
}

.button {
  background-color: inherit;
  border: 2px solid var(--color-accent);
  font-size: 14px;
  text-transform: inherit;
  font-family: var(--font-accent);
  line-height: 90%;
  position: relative;
  overflow: hidden;
}

.button__text {
  white-space: nowrap;
  position: relative;
  z-index: 10;
  align-self: center;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-accent);
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-background);
  color: var(--color-button__text);
}

.button:hover::after {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-accent);
  z-index: 1;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  animation: button-hover 0.5s ease-in-out;
}

@keyframes button-hover {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0);
  }
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  background-color: inherit;
  border: 2px solid transparent;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  transition: 0.3s ease;
}

/* --------------- Hover эффект сердца --------------- */

.like-icon .core {
  fill: var(--color-background);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--color-like-icon-contour);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--color-background);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-like-icon-contour);
  transition: fill 0.3s linear 0.05s;
}

/* --------------- Active эффект сердца --------------- */

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:active .core {
  fill: var(--color-like-icon-sparks);
  transition: fill 0.3s linear;
}
.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-like-icon-sparks);
  transition: fill 0.3s linear 0.05s;
}

/* --------------- Эффект нажатия сердца --------------- */
/* --------------- Закрашивание внутри --------------- */

.like-icon.is-liked .core {
  fill: var(--color-like-icon-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-like-icon-sparks);
  transition: fill 0.3s linear 0.05s;
}

/* --------------- Закрашивание контура --------------- */

.like-icon.is-liked .contour {
  fill: var(--color-like-icon-sparks);
  transition: fill 0.3s linear 0.06s;
}

/* --------------- Увеличение сердца --------------- */

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-out 0.1s 2 alternate;
  transform-origin: center;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* --------------- Искры --------------- */

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: sparks 0.3s ease-in 0.3s 2 alternate forwards;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* --------------- Кнопка Сохранить --------------- */

.save-button {
  background-color: var(--color-background);
  margin-block-end: 102px;
  padding: 19px;
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 312px));
  grid-gap: 8px;
  grid-auto-flow: dense;
}

.floppy {
  margin: auto;
  inline-size: 28px;
  block-size: 28px;
}



/* --------------- Медиа-запрос для мобилки --------------- */

@media (width <= 376px) {
  .card {
    width: 100vw;
  }

  .save-button {
    grid-template-columns: 1fr;
  }
}
